.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}
.grid-container__item{
    background: blue;
    width: 100%;
    height: 200px;
}