body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 40px;
    color: #333;
}

h1 {
    text-align: center;
     color: #1f6feb;
     margin-bottom: 5px;
}

p {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-top: 0;
}

h2 {
    color: #1f6feb;
    border-bottom: 1px solid #1f6feb;
    padding-bottom: 4px;
    margin-top: 30px; 
    font-size: 20px;   
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 6px 0;
    line-height: 1.4;
}
    
.section {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(82, 81, 81, 0.8);
    max-width: 600px;
    margin: 20px auto;
}

footer {
    text-align: center;
    font-size: 14px;
    color: #777;
    margin-top: 14px;
}