* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

header nav>a img {
    padding: 10px;
}

nav {
    display: block;
    width: 990px;
    margin: 0 auto;
}

.nav-list li {
    display: inline-block;
    float: left;
}

.nav-list ul {
    display: none;
}

ul li {
    display: inline-block;
}

ul ul {
    display: none;
}

nav>a {
    float: left;
}

nav ul {
    float: left;
}

nav li {
    float: left;
}

li a {
    padding: 20px;
    float: left;
}

.nav-list a {
    padding: 20px;
    float: left;
}

#contact-btn {
    float: right;
    color: orange;
    margin-top: 12px;
}

nav ul+a:last-child {
    float: right;
    padding: 20px;
    border: 1px solid orange;
    border-radius: 50px;
    color: orange;
    margin-top: 12px;
}


header,
footer,
main {
    float: left;
    width: 100%;
}

full-block {
    float: left;
    width: 100%;
}

.pill-btn {
    border-radius: 60px;
    border: 1px solid red;
}

main {
    background: black;
    padding: 20px;
}

fotm h2 {
    color: white;
}

form input {
    border: 0;
    border-bottom: 1px solid green;
    background: none
}

.submit-btn {
    border-color: green;
    color: white;
    margin-left: 15px;
}

.nav-list li:nth-child(odd) {
    background-color: red
} 

.nav-list li:nth-child(even) {
    background-color: green;
}

.nav-list li:nth-child(6) a {
    background: blue
}

.box:nth-child(even) {
    background: lime;
}

.chess-board-row:nth-child(even) .cell:nth-child(even){
    width: 50px;
    height: 50px;
    background: green;
}

.chess-board-row:nth-child(odd).cell:nth-child(odd){
    width: 50px;
    height: 50px;
    background: red;
}

.chess-board-row:nth-child(even) .cell:nth-child(even){
    width: 50px;
    height: 50px;
    background: green;
}

.chess-board-row:nth-child(odd).cell:nth-child(odd){
    width: 50px;
    height: 50px;
    background: red;
}
.chess-board-row:nth-child(even) .cell:nth-child(even){
    width: 50px;
    height: 50px;
    background: green;
}

.chess-board-row:nth-child(odd).cell:nth-child(odd){
    width: 50px;
    height: 50px;
    background: red;
}
.chess-board-row:nth-child(even) .cell:nth-child(even){
    width: 50px;
    height: 50px;
    background: green;
}

.chess-board-row:nth-child(odd).cell:nth-child(odd){
    width: 50px;
    height: 50px;
    background: red;
}
