html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
}


.container {
  max-width: 1109px;
  width: 100%;
  margin: 0 auto;
  display: block;
}


.main-header {
  float: left;
  width:100%;
  padding-top: 15px;
  padding-bottom: 17px;
}

.logo {
  float:left;
  margin-top: 8px;
}
.nav-bar {
  float: right;
  font-size: 14px;
  line-height: 2em;
}


.nav-bar ul {
  float: left;
  margin-right: 54px;
  padding-top: 9px;
}

.nav-bar a {
  color: #2F281E;
  text-decoration: none;
}

.nav-bar li {
  display: inline-block;
  margin-right: 27px;
}

.nav-bar li:last-child {
  margin-right: 0;
}

.btn {
  font-size: 16px;
  padding: 0 23px 0 25px;
  line-height: 46px;
  height: 46px;
  float: left;
  background: #FF9900;
  color: #fff !important;
  border-radius: 4px;
  font-weight: 600;
  margin-right: 14px;
}

.btn-alt {
background: transparent;
color: black !important;
border: 1px solid #BCD0E5;

}
.btn:last-child {
  margin-right: 0;
}


.hero-section {
  display: flex;
  flex-wrap: wrap;            
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0; 
  padding: 60px 10px;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
}

.hero-section .text {
  flex: 1 1 50%;               
  max-width: 50%;
  padding-right: 10px;         
  box-sizing: border-box;
}

.hero-section h1 {
  font-size: 48px;
  font-weight: 600;
  color: #2F281E;
  margin-bottom: 24px;
  line-height: 1.2em;
}

.hero-section .text p {
  color: #544837;
  line-height: 1.5;
}

.button {
  margin-top: 40px;
  border: 8px;
}

.hero-section .btn-alt {
  background-color: orange;
  color: white !important;
}

.hero-section .btn-2 {
 background-color: white;
  color: orange !important;
}

.sign-up {
  display: flex;
  flex-wrap: wrap;            
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0; 
  padding: 60px 10px;
  box-sizing: border-box;
}

.sign-up h1 {
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  color: #2F281E;
  margin-bottom: 24px;
}

.sign-up h2 {
  font-size: 22px;
  font-weight: 600;
  color: #2F281E;
  margin-bottom: 15px;
  margin-top: 30px;
}

.sign-up p {
  flex: 1 1 50%;               
  max-width: 50%;
  padding-right: 10px;         
  box-sizing: border-box;
}