@import '_reset';


$background-color: #000;
$text-color: #fff;
$accent-color: #fff;
$max-width: 1000px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $background-color;
  color: $text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
}

.header {
    width: 100%;
    text-align: center;
    padding: 2 rem 0;
    position: relative;
}

__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .icons {
      font-size: 1.2rem;
      margin-left: 1rem;
      cursor: pointer;
      color: $text-color;
      transition: 0.3s;

      &:hover {
        opacity: 0.7;
      }
  }

 