* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    font-family: serif;
    justify-content: center;     
    align-items: center;  
    background-color: #11364E;
    color: white;
    margin: 0;
    width: 100vh;

}

label {
    display: flex;
    margin-bottom: 30px;
    display: inline-block;
}

input, select {
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

input, select, textarea {
    background-color: #11364E;
    border-bottom: 1px solid gray;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 371px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
}


input[type="submit"] {
  background-color: #FF7F57;
  color: white;
}