* {
    box-sizing: border-box;
}

body {
    padding-top: 60px;
    font-family: serif;
}

label {
    margin-bottom: 30px;
    display: inline-block;
}

input, select {
    padding: 20px;
    font-size: 18px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    display: block;
}